@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply scroll-smooth;
}

.swipe-left {
  @apply -right-[40%];
}

.swiper {
  @apply w-full;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important;
  opacity: 1 !important;
}

.swiper2 {
  @apply w-[77%] overflow-hidden;
}

.swiper3 {
  @apply w-[80%] h-auto lg:h-32 overflow-hidden mt-3;
}

.button-next {
  @apply absolute top-[50%] -right-1 lg:right-4 xl:right-8 z-10;
}

.button-prev {
  @apply absolute top-[50%] -left-1 lg:left-4 xl:left-8 z-10;
}

.item .activeIcon {
  @apply hidden;
}

.item.active .inactiveIcon {
  @apply hidden;
}

.item.active .activeIcon {
  @apply block;
}

.item:not(.active) .content {
  @apply h-0 overflow-hidden;
}
