@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply scroll-smooth;
}

.swipe-left {
  @apply -right-[40%];
}

.swiper {
  @apply w-full;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important;
  opacity: 1 !important;
}

.swiper2 {
  @apply w-[80%] overflow-hidden;
}

.swiper3 {
  @apply p-4 w-[80%] overflow-hidden;
}

.button-next {
  @apply absolute top-[50%] right-8 z-10;
}

.button-prev {
  @apply absolute top-[50%] left-8 z-10;
}
